/* CSS Normalize */
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */
input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

/* Box-sizing border-box */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


body {
  overflow: visible;
}

/* Some default styles to make each box visible */
.box {
  overflow-y: auto;
  overflow-x: hidden;
  color:#ffe8e1;
  background: #2f475f;
  font-size: 30px;
  text-align: center;
  text-shadow:4px 4px 0 rgba(0,0,0,0.1);
  padding:10px;
}

/* Header */
.header {
  height: 7vh
}

/* Flexbox Start */
.container {
  display:flex;
  flex-wrap:wrap;
  flex-direction:column;
  border:1px solid #000010;
  height:90vh;
  flex:1;
}

.container_mod2 {
  display:flex;
  flex-wrap:nowrap;
  flex-direction:row;
  border:1px solid #000010;
  height:90vh;
  flex:1;
}

.container_mod3 {
  display:flex;
  flex-wrap:nowrap;
  flex-direction:row;
  border:1px solid #000010;
  height:90vh;
  flex:1;
}

#sequence_title{
  margin-left: auto;
  margin-right: auto;
}

.box {
  flex-basis:250px;
  flex-grow:1;
  border: 1px solid #35506b;
  overflow-x:auto;
}

hr{
  border: 1px solid #35506b;
}

.tooltip {
  position: static;
  display: inline-block;
  text-align: left;
  cursor:help;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 100px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 5px;
  font-size: 11px;
  position: absolute;
  z-index: 1;
  overflow: visible;
  margin-top: 6px;
  border: solid 1px #35506b;
}

.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  bottom: 100%;  /* At the top of the tooltip */
  left: 50%;
  margin-left: -5px;
  border: solid 1px #35506b;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.setting_title {
  float:left;
}

.setting_input {
  float: right;
}

.sequence_box {

}

/* Example Different Sizes */
.box3 {
  flex-grow:5;
}

.box4 {
  flex-basis:100px;
}

.input_table td {
  text-align: center;
}

.sliderValue {
  width: 3em;
}

#amplicon_slider {
  margin-right: 10px;
}

h1 {
  font-size: 15px;
  font-family: sans-serif;
  font-weight: bold;
}

table, th, td {
  color: #ffe8e1;
  font-size: 14px;
  font-weight:normal;
}

table tr:first-child td:first-child {
  border-top-left-radius: 10px;
}

table tr:first-child td:last-child {
  border-top-right-radius: 10px;
}

table tr:last-child td:first-child {
  border-bottom-left-radius: 10px;
}

table tr:last-child td:last-child {
  border-bottom-right-radius: 10px;
}

th, td {
  padding: 12px;
}

table tr:hover {
  background: rgb(0, 38, 60);
}

tr:nth-child(odd) {
  background: rgb(1, 32, 53);
}

tr:nth-child(even) {
  background: rgb(0, 36, 56);
}

input{
  background-color: #000010;
  color: #ffe8e1;
  border: 1px solid #35506b;
  border-radius: 3px;
  outline-width: thick;
  outline-color: #35506b;
}

input[type=file]{
  font-size: 12px;
  color:#ffe8e1;
}

input[type=submit]{
  font-size: 14px;
  color:#ffe8e1;
}

input[type=number]{
  font-size: 14px;
  width: 45px;
  color:#ffe8e1;
}

input[type=range] {
  -webkit-appearance: none;
  margin: 18px 0;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #2d6a9f;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 18px;
  width: 10px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7px;
}

#ampliconSlider {
  width:72%;
}

.form-control {
  color: #ffe8e1;
  background-color: black;
  outline-width: thick;
  outline-color: #35506b;
}

.setting_input {
  outline-width: thick;
  outline-color: #35506b;
  border-color: #35506b;
}

#sequenceIdentifier {
  border-bottom-right-radius: 10px;
  color:white;
  background-color: #000010;
  border: none;
  font-weight: bold;
  font-size: 14px;
}

#background_settings{
  height:25vh;
  overflow-x: hidden;
}

#neucleotide_input{
  height: 65vh;
}

#regionPicker td{
  padding: 3px;
}

#background_seq_fp {
  width:100%;
}

.sequence_item:hover{
  transform:scale(1.8);
  transform-style: preserve-3d;
  transition: all .4s ease;
  cursor:crosshair;
}

/* Tabs */

.tab_container {
  display:flex;
  flex-wrap:nowrap;
  flex-direction:row;
  height:10vh;
  overflow-x: none;
}

.tab {
  background-color: #000010;
  flex:1;
  justify-content: space-between;
  color:#fff4f4;
  border:1px solid #262626;
  font-size:16px;
  text-align:center;
  text-shadow:4px 4px 0 rgba(0,0,0,0.1);
  transition: all .2s ease-in-out;
}

.tab:hover{
  background-color:gray;
  font-size: 19px;
}

.labels {
  font-size:18px;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
  height:8px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px gray;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  /* background: rgb(1, 32, 53); */
  background: gray;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  /* background:rgb(0, 36, 56); */
  background: gray;
  border-radius: 0px;
}

.input_table {
  color: white;
  margin: 0 auto;
}

 #loading_logo {
  height:250px;
  width:250px;
  position:sticky;
  -webkit-animation:spin 2s infinite;
  animation:spin 2s infinite;
  background-color: white;
  border-radius: 50%;
  border: 2px solid #000010;
  padding: 10px;
}

@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }

.progress_bar {
  margin: auto;
  height:10vh;
  width:100%;
  border: 1px solid #000010;
  background-color: #35506b;
  overflow-y: hidden;
  padding: 0px;
}

#current_progress {
  margin: left;
  width:1%;
  height:100%;
  background-color: black;
}

#loading_screen_container {
  height: 100vh;
}
